{% extends 'layout/basic.html'  %}


{% block title%} Успешная активация {% endblock %}


{% block content%} 
    <div class="content">
                    <div class="cnt">
                        <header>
                            <h1>Пользователь успешно активирован</h1>
                        </header>
                        <hr>
                       Вы успешно активировали свой аккаунт, можете <a href="{% url 'users:login' %}">войти</a> 

                   </div>
                </div>


{% endblock %}