{% extends 'layout/basic.html'  %}

{% block title%} {{ title }} {% endblock %}

{% block content%} 

    <div class="content">
                    <div class="cnt">
                        <header>
                            <h1>{{ title }}</h1>
                        </header>
                        <hr>
                          
                        <h3>Письмо для сброса пароля отправлено на вашу почту</h3>
                   </div>
                </div>
{% endblock %}