{% extends 'layout/basic.html'  %}

{% block title%} Регистрация пользователя {% endblock %}

{% block content%} 
<div class="content">
                    <div class="cnt">
                        <header>
                            <h1>{{ title }}</h1>
                        </header>
                        <hr>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            {{form.as_p  }}
                            <input type="submit" value='Зарегестрироваться'>

                        </form>

                   </div>
                </div>
{% endblock %}