{% extends 'layout/basic.html'  %}

{% block title%} Пользователь уже активирован {% endblock %}

{% block content%} 

    <div class="content">
                    <div class="cnt">
                        <header>
                            <h1>Пользователь уже автивирован</h1>
                        </header>
                        <hr>
                        Пользователь уже активирован                                                   

                   </div>
                </div>
{% endblock %}