{% extends 'layout/basic.html'  %}

{% block title%} Вакансии {% endblock %}


{% block content%} 
<div class="content">
                    <div class="cnt">
                        <header>
                            <h1>Вакансии</h1>
                        </header>
                        <hr><a name="top"></a>
<ul>
	<li class="point-faq"><a href="#30">Продавец-дизайнер (кухни)</a></li>
	<li class="point-faq"><a href="#31">Директор магазина</a></li>
	<li class="point-faq"><a href="#32">Бухгалтер отдела учета готовой продукции</a></li>
</ul>

<div id="bx_3107966303_30">
<a name="30"></a>
<h3>Продавец-дизайнер (кухни)</h3>
<p>
		<b>Требования</b> 						 						 
</p><p>Уверенный пользователь ПК, навыки черчения от руки и в программах, опыт работы дизайнером/конструктором в мебельной сфере, этика делового общения</p>
 						 						<b>Обязанности</b> 						 
<p>Консультирование клиентов по кухонной мебели, оставление художественно-конструкторских проектов, прием и оформление заказов.</p>
 						 						<b>Условия</b> 						 
<p>Зарплата: 13500 оклад + % от личных продаж + премии‚ совокупный доход от 20000 руб,полный соц. пакет‚ оформление согласно ТК РФ</p>
 <p></p><p>
	<a href="#top">Наверх</a>
</p>
</div>
<div class="hr"></div>
<div id="bx_3107966303_31">
<a name="31"></a>
<h3>Директор магазина</h3>
<p>
		<b>Требования</b> 						 						 
</p><p>Высшее образование‚ опыт руководящей работы в рознице от 3 лет‚ опытный пользователь ПК‚ этика делового общения‚ знание методов управления и заключения договоров‚ отличное знание торгового и трудового законодательств‚ ответственность‚ инициативность‚ активность.</p>
 						 						<b>Обязанности</b> 						 
<p>Руководство деятельностью магазина‚ организация эффективной работы персонала магазина‚ финансово-хозяйственная деятельность и отчетность‚ выполнение плана продаж‚ отчетность.</p>
 						 						<b>Условия</b> 						 
<p>Трудоустройство по ТК РФ‚ полный соц. пакет‚ график работы 5 чере 2 (168 час/мес)‚ зарплата: оклад 28000 + % от оборота + премии‚ совокупный доход от 35000 руб</p>
 <p></p><p>
	<a href="#top">Наверх</a>
</p>
</div>
<div class="hr"></div>
<div id="bx_3107966303_32">
<a name="32"></a>
<h3>Бухгалтер отдела учета готовой продукции</h3>
<p>
		<b>Требования</b> 						 						 
</p><p>Жен., 22-45, уверенный пользователь ПК, опыт работы бухгалтером приветсвуется, знание бухгалтерского учета (базовый уровень), самостоятельность, ответственность, коммуникабельность, быстрая обучаемость, желание работать.</p>
 						 						<b>Обязанности</b> 						 
<p>Работа с первичными документами по учету МПЗ Ведение журналов-ордеров по производственным счетам Формирование материальных отчетов подразделений Исполнение дополнительных функций по указанию руководителя</p>
 						 						<b>Условия</b> 						 
<p>График работы 5 дней в неделю, адрес работы г. Шатура, Ботинский пр-д, 37. Зарплата: оклад 10 800 р. + премия 40% от оклада, полный соц. пакет.</p>
 <p></p><p>
	<a href="#top">Наверх</a>
</p>
</div>


                   </div>
                </div>


{% endblock %}